body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    border-bottom: 2px solid #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.job, .degree {
    margin: 10px 0;
}

a {
    color: #030303;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.card {
    width:100%;
    background-color: #fff;
    box-shadow:0 5px 8px rgba(91, 90, 90, 0.5);
    overflow: hidden;
    margin-top: 5%;
    padding: 3%;
    align-items: center;
    justify-content: center;
}
.container{
    align-items: center;
    justify-content: center;
    width: 60%;
}
.grid-container {
    display: flex;
    justify-content: center;
}

.column {
    width: 50%;
    padding: 20px;
}
.icon{
    padding: 5px;
}

.icon label{
    margin-left: 15px;
}
.progress-container {
    width: 80%;
    max-width: 400px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    width: 0;
    height: 40px;
    background-color: #007BFF;
    transition: width 0.3s ease-in-out;
}
